<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello World
    </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium ipsam itaque possimus accusantium qui, magnam laudantium eveniet accusamus voluptas, veritatis ab optio commodi asperiores eaque quam minima quisquam perspiciatis!
    </p>
    <a href="{% url 'about_page' %}">About</a>

</body>
</html>